.header{
  height: 450px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  
}

.header .carousel{
  height: 100%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 90%;
}
.header .carousel-indicators{
  position: unset;
}
.header .icon{
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: black;
  background-color: white;
}
.header img{
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.header .application{
  height: 100px;
  
}
.header .application .title{
  font-size: 35px;
  font-weight: bolder;
  line-height: 1;
}
.header .application .Description{
  font-size: 15px;
  text-align: center;
}

.header .title{
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.header .titleDescription{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15;
  text-align: center;
}

.header .form{
  margin-top: 35px;
}

.form input[type = "password"],.form input[type = "email"],.form input[type = "text"]
{
  
  background: none;
  outline: none;
  color: #fff;
  border: 1px solid white;
}
::placeholder {
  color:white;
  font-size:13px ;
}
.form .textLeft{
  text-align: left;
  margin-left:  20px;
  font-size: 13px;
}

.form .textRight{
  text-align: right;
  
  font-size: 13px;
}
.header p{
  font-size: 18px;
  font-weight: 700;
  
}
.header span{
  text-transform: capitalize;
  font-weight: 700;
}
@media(max-width:767px){
  .header p{
      font-size: 13px;
      
  }
}