<section class="header"  id="header" >
        
    <div id="text" class="carousel slide" data-ride="carousel">
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="icon">
              <img  [src]=" logo" alt="" srcset="">
          </div>
          <div class="application">
          </div>
          <div class="container-fluid">
            <div class="row ">
              <div class="col">
                <div class="icon">
                    <a routerLink="auth/inscription">Inscription</a>
               </div>
              </div>
              <div class="col-8 titleFirst">
                <p class="title">eeyaa</p>
                <p class="titleDescription">entrez dans l'aire du participatif</p>
              </div>
              <div class="col">
                <div class="icon">
                  <a routerLink="auth/connexion">connexion</a>
              </div>
              </div>
            </div>
          </div>
         </div> 
        <div class="carousel-item ">
            <div class="icon">
              <img  [src]=" logo" alt="" srcset="">
            </div>
              <div class="application">
               
              </div>
            <div class="container-fluid">
              <div class="row ">
                <div class="col">
                  <div class="icon">
                    inscription
                </div>
                </div>
                <div class="col-8 titleFirst">
                    <p class="title">eeyaa</p>
                    <p class="titleDescription">entrez dans l'aire du participatif</p>
                  </div>
                <div class="col">
                  <div class="icon">
                    connexion
                </div>
                </div>
              </div>
             </div>
        </div>
        <div class="carousel-item ">
          <div class="icon">
            <img  [src]=" logo" alt="" srcset="">
          </div>
          <div class="application">
            
          </div>
          <div class="container-fluid">
            <div class="row ">
              <div class="col">
                <div class="icon">
                  inscription
              </div>
              </div>
              <div class="col-8 titleFirst">
                <p class="title">eeyaa</p>
                <p class="titleDescription">entrez dans l'aire du participatif</p>
              </div>
              <div class="col">
                <div class="icon">
                  connexion
              </div>
              </div>
            </div>
           </div>
        </div>        
      </div>
      <ol class="carousel-indicators mt-5">
        <li data-target="#text" data-slide-to="0" class="active"></li>
        <li data-target="#text" data-slide-to="1"></li>
        <li data-target="#text" data-slide-to="2"></li>
      </ol>
    </div>
  

</section>